* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 2746px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_2 {
  width: 100%;
  height: 642px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 0px;
  overflow: hidden;
}
.v1_3 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 81px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_5 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 297px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_7 {
  width: 189px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 465px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_8 {
  width: 247px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 686px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_9 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 976px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v2_2 {
  width: 229px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 1354px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_10 {
  width: 92px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 28px;
  left: 1199px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v7_0 {
  width: 683px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 283px;
  left: 900px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v7_4 {
  width: 500px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 416px;
  left: 900px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v7_10 {
  width: 247px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 553px;
  left: 873px;
  overflow: hidden;
}
.v7_11 {
  width: 221px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 565px;
  left: 868px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v7_12 {
  width: 503px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 863px;
  left: 22px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v9_0 {
  width: 503px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1343px;
  left: 105px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v9_44 {
  width: 503px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2395px;
  left: 168px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v7_41 {
  width: 672px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 960px;
  left: 77px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v9_46 {
  width: 348px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2485px;
  left: 270px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v9_48 {
  width: 283px;
  height: 58px;
  background: rgba(238,53,53,1);
  opacity: 1;
  position: absolute;
  top: 2608px;
  left: 277px;
  overflow: hidden;
}
.v9_49 {
  width: 240px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2622px;
  left: 301px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v9_51 {
  width: 410px;
  height: 298px;
  background: url("../images/v9_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2370px;
  left: 701px;
  overflow: hidden;
}
.v14_1 {
  width: 842px;
  height: 642px;
  background: url("../images/v14_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 0px;
  overflow: hidden;
}
.v24_0 {
  width: 636px;
  height: 534px;
  background: url("../images/v24_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 786px;
  left: 618px;
  overflow: hidden;
}
.v26_1 {
  width: 300px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1456px;
  left: 201px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.v26_4 {
  width: 345px;
  height: 374px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1899px;
  left: 201px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.v26_5 {
  width: 345px;
  height: 374px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1899px;
  left: 701px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.v26_2 {
  width: 323px;
  height: 279px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1456px;
  left: 701px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.v26_8 {
  width: 252px;
  height: 141px;
  background: url("../images/v26_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1479px;
  left: 229px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v26_9 {
  width: 262px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1643px;
  left: 223px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v26_17 {
  width: 262px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2170px;
  left: 742px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v26_15 {
  width: 262px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2170px;
  left: 242px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v26_11 {
  width: 262px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1663px;
  left: 737px;
  font-family: Montserrat;
  font-weight: ExtraBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_1 {
  width: 264px;
  height: 180px;
  background: url("../images/v27_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1487px;
  left: 721px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v27_5 {
  width: 270px;
  height: 186px;
  background: url("../images/v27_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1937px;
  left: 242px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v27_7 {
  width: 272px;
  height: 187px;
  background: url("../images/v27_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1936px;
  left: 732px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
